$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

// $primary: #8106a9;
// $secondary: #8b003f;
// $accent: #7446d7;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #22a841;
$negative: #ab0014;
$info: #31ccec;
$warning: #f2c037;
